@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Bai Jamjuree;
    font-weight: 400;
    font-size: 1rem;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f0dcca;
    height: 100vh;
    align-items: center;
}

h1 {
    font-size: 2.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regisForm {
    border-radius: 30px;
    padding: 50px;
    background-color: #fff4e7;
}

div {
    margin-top: 8px;
    margin-bottom: 8px;
}

span {
    color: red;
}

input, select {
    border: 1px solid black;
    border-radius: 9px;
}

select, #male, #female, #others, #yes, #no {
    cursor: pointer;
}

.student_gender input {
    margin-top: 9px;
    margin-left: 5px;
}

.news_selector input {
    margin-top: 9px;
    margin-left: 5px;
}

.submit_button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0px;

    button {
        width: 200px;
        height: 30px;
        border: hidden;
        border-radius: 15px;
        background-color: rgb(255, 222, 150);
        cursor: pointer;
    }
}